.section{
    width: 100%;
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        &__link{
            border-radius: 15px;
            width: 70px;
            text-align: center;
            text-decoration: none;
            font-size: small;
            border: solid 1px white;
            color: white;
        }
        &__title{
           position: relative;

        }
    }
    &__body{
        height: 320px;
        padding: 10px;
        display: flex;
        width: 100%;
        overflow-x: hidden;
    }
    &__slide{
        min-height: 200px;
        display: inline-flex;
        gap: 20px;
    }
    &__skeleton{
        display: flex;
        gap: 20px;
    }
}
.line {
    position: absolute;
    content: "";
    height: 2.75px;
    background-color: #ff0000;
    bottom: -10px;
    width: 70%;
    border-radius: 20px;
  }
@media only screen and (min-width: 768px) {
    .section{
        width: 80%;
        &__slide{
            width: 100%;
        }
    }
}